html, body {
	margin: 0;
	padding: 0;
}

body {
	background: #fffcf4;
	font: 14px Menlo, 'Andale Mono Regular', Inconsolata, Monaco, monospace;
	line-height: 1.5;
	margin-bottom: 100px;
}

em {
	color: #999;
}
ul {
	margin-bottom: 0;
}
section {
	margin-bottom: 2em;
}
blockquote {
	margin: 0;
	margin-bottom: 1em;
}

.container {
	margin: 0 auto;
	width: 90%;
	max-width: 40em;
}

.tagline-label{
	font-style: italic;
	font-weight: normal;
	margin: 0 0 1em;
}

.contact {
	text-align: center;
}

.header {
	background-color: #fff688;
	padding: 1em;
	margin-bottom: 2em;
	text-align: center;
}

.name {
  margin-top: 0;
  margin-bottom: 0;
}

.summary {
	text-align: center;
}

.values {
  margin-top: 0.5em;
}

.username {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.username > a {
  text-decoration: none;
}

.phone, .email, .follow, .resumes, .summary {
  height: 5em;
}

@font-face {
  font-family: 'fontawesome';
  src: url('./font/fontawesome.eot?63231571');
  src: url('./font/fontawesome.eot?63231571#iefix') format('embedded-opentype'),
       url('./font/fontawesome.woff?63231571') format('woff'),
       url('./font/fontawesome.ttf?63231571') format('truetype'),
       url('./font/fontawesome.svg?63231571#fontawesome') format('svg');
  font-weight: normal;
  font-style: normal;
}
.icons {
  font-family: 'fontawesome';
  font-size: 1.5em;
}
.twitter:before {
  content: "\f099";
}
.github:before {
  content: "\f09b";
}
.linkedin:before {
  content: "\f0e1";
}
.stack-overflow:before {
  content: "\f16c";
}
